<div class="flex flex-col sticky">
  <mat-toolbar color="accent">
    <div class="w-full flex items-center justify-center gap-2">
      <a href="/" class="text-3xl font-bold">StrawPoll</a>
      <div class="hidden md:flex gap-1">
        @for (navLink of navLinks; track navLink.url) {
          <a [routerLink]="navLink.url" mat-button>
            {{ navLink.label }}
          </a>
        }
      </div>
      <span class="grow"></span>
      <div class="hidden md:flex gap-1">
        <a routerLink="login" mat-button class="md:hidden">Login</a>
        <a routerLink="register" mat-flat-button>Sign up</a>
      </div>
      <button mat-icon-button class="md:!hidden" (click)="sideNavToggle.emit()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>





